/* Стили чтобы использовать подключенные шрифты */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Oswald', sans-serif; */
/* .header { */
    /* font-size: 35px; */
    /* color: rgba(255, 0, 0, 0.569); */
    /* } */

/* Конструкция в CSS, которая указывается всегда чтобы элементы 
настраивались правильно 
 И чтобы ПЭДИНГ границы не влияли на размер самого элемента */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.img {
    display: block; /* Чтобы картинку из строчной сделать блочной */
    max-width: 100%; /* Изображение будет сжиматься под ширину экрана и не будет создавать полосу прокрутки */
}   /* Чтобы картинку из строчной сделать блочной */

h1, h2, h3, h4, h5, h6, p {
    padding: 0;  /* Сбрасываем отступы установленные поумолчанию */ 
    margin: 0;   /* Сбрасываем отступы установленные поумолчанию */
}

.about {
    min-height: 1080px;/* чтобы в HD отображалассь по всей высоте ставим высоту 1080px */
    position: relative;/* Для того чтобы наш элемент сдвинуть немного вверх */
    padding-top: 250px;
}

.body {
    margin: 0; /* Сбрасываем внешние отступы, предусмотренные по умолчанию */
    font-family: 'Oswald', sans-serif;/*Шрифт без засечек */
    font-weight: 400;
}

.container {
max-width: 1110px;
margin: 0 auto;
}

/* содаем переменные  */
:root {
    --accent-color:#F7654A;
    --dark-color: #404149;
    --gray-color: #999999;
    --while-color: #FFFFFF;
    --background-color: #E5E5E5;
}
    
.text-h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.text-h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.text-p-reviews {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21;
}

.header {
    min-height: 740px;
    background-image: url(../img/first-screen-bg.jpg);
    background-repeat: no-repeat; /*Чтобы изображение не повторялось*/
    background-size: cover; /*Чтобы изображение вписывалось в свои размеры*/
}

.header__title {
    padding-top: 20px;
    margin-bottom: 112px;
    display: flex;/*Чтобы выровнять Logo и Meniu в один ряд*/
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    width: 60px;
    height: 60px;
}

.burgtr {
    width: 50px;
    height: 50px;
    cursor: pointer; /* появляется курсор при наведении */
    padding: 0;
    background-color: var(--accent-color);/* устанавливаем цвет при помощи переменной */
    border: none; /* исчезает рамка */
    display: flex; /* чтобы сделать элемент флексовым */
    flex-direction: column;/* позволяет устанавливать элементы ВЕРТИКАЛЬНО */
    justify-content: center;/* механизм флексбокса */
    align-items: center;/* для вертикального выравнивания 
    Чтобы линии внутри были по центру нашей кнопки */
}

.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
}

.burger__line:last-child {
    margin-bottom: 0;
}/* сбросить последний элемент */

.h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    max-width: 734px;
    margin: 0 auto 17px;
    color: var(--while-color);
}

@media screen and (max-width: 1280px) {
    .h1 {
        font-size: 46px;
        line-height: 64px;
    }
}


.h4 {
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: var(--while-color);
}

.info {
    position: absolute;
    top: -150px;/* таким образом мы задвинем элемент вверх */
    left: 50%;
    transform: translateX(-50%);/* Чтобы работало left: 50% */
    max-width: 1100px; /* Эта и предыдущая строка позволяют выставить елемент по центру */
    min-height: 300px;
    width: 100%;
    background-color: #144972;/* чтобы видеть результат */
    padding: 57px 130px; /* отступы внутри элемента */
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);/* Это четыре столбца и одна фракция (т.е. столбцы одинаковой ширины */
    gap: 30px;
    justify-items: center;
}

.about__grid-item {
    
    text-align: center;
    width: 190px;
}

.about__h4 {
    color: var(--accent-color);
    font-size: 72px;
    font-family: 'Oswald' sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.about__h5 {
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.about__p {
    color: var(--gray-color);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/* Адаптивная верстка Медиазапрос */
@media screen and (max-width: 1280px) {
    .about__grid {
    grid-template-columns: repeat(2, 1fr);/* Это два столбца и одна фракция (т.е. столбцы одинаковой ширины */
    grid-template-rows: repeat(2, 1fr);/* Будет сетка на два для малых экранах */
    }
}

/* Адаптивная верстка Медиазапрос */
@media screen and (max-width: 768px) {
    .info {
        position: relative;
        padding: 30px 0;
    }
    .about__grid {
    grid-template-columns: repeat(1, 1fr);/* Это один столбец и одна фракция (т.е. столбцы одинаковой ширины */
    grid-template-rows: repeat(4, 1fr);/* Будет сетка два на два на малых экранах */
    }
}

/* option + X в HTML и затем comand + V в CSS */

/*CSS GRID Делаем 3 столюца и адаптивную верстку*/

.project-h2 {
    text-align: center;
    margin-bottom: 50px;
}

.about__flex {
    display: flex;
}
.about__flex-item {
    min-width: 350px;
    margin-right: 30px;
}
.about__flex-item:last-child{
    margin-right: 0; /* Убираем отступ у последнего элемента */
}

.project-img {
    margin-bottom: 45px;
}





.rectangle {
    width: 56px;
    height: 6px;
    background-color: var(--accent-color);
    margin-bottom: 15px;
}

.project-h3 {
    color: var(--dark-color);
    margin-bottom: 13px;
}

.project-p {
    color: var(--gray-color);
}




/* Адаптивная верстка Медиазапрос */
@media screen and (max-width: 1280px) {
.about{
    padding: 450px 15px 110px 150px;
}
}

/* Адаптивная верстка Медиазапрос */
@media screen and (max-width: 1280px) {
.about {
    padding-top: 150px;
    padding-bottom: 80px;
}
.about__flex {
    flex-direction: column;
    align-items: center;
}
.about__flex-item {
    margin-right: 0px;
    margin-bottom: 30;
}
.about__flex-item:last-child{
    margin-bottom: 0; /* Убираем отступ у последнего элемента */
}
}

/* Раздел "Ваш запрос" и адаптивная верстка */
.request {
    background-color: var(--accent-color);
    padding-top: 30;
    padding-bottom: 40;
}
.container {
}
.request__flex {
    display: flex;
    justify-content: space-between;/* Чтоб разделить на две разные стороны*/
    align-items: center;/* Чтоб вертикально выровнять по одной оси*/
}
.request__flex-left {
    color: var(--while-color);
}
.reuest__h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.02em;
    margin-bottom: 7px;
    }
.reuest__h5 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    }
.request__flex-right {
}




.request__btn {
    bottom: none;
    border-color: #fff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-style: 14px;
    letter-spacing: 0.05em;
    padding: 14px 30px;



}
.request__icon {
    margin-right: 15px;
}

@media screen and (max-width: 1280px) {
    .request {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Адаптивная верстка Медиазапрос */
@media screen and (max-width: 768px) {
        .request__flex {
            flex-wrap: wrap;
    }
}

/* Раздел услуги Делаем сетку 3 на 2 GRID */
.services {
    padding: 150px 0;
    text-align: center;
}

.section__h2, .services__h4 {
    color: #000;
    
    text-transform: uppercase; /* Все будет в верхнем регистре*/
    
}

.section__h2 {
    text-align: center;
    margin-bottom: 55px;
}

.services__h4 {
    margin: 0 auto; /* Чтобы выровнять по центру*/
    min-width: 172px;
    font-family: 'Oswald';
    letter-spacing: 0.02em;
}

.services__grig {
    display: grid;
    grid-template-columns: repeat(3, 1fr);/* Повторение ячеек Три столбца Одна фракция*/
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.services__grid-item {
    padding: 59 0px;
    background-color: #f7f7f7;
    width: 350px;
}


.services__icon {
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .services {
        padding-left: 15px;
        padding-right: 15px;
    }
    .services__grig {
    grid-template-columns: repeat(2, 1fr);/* Повторение ячеек Три столбца Одна фракция*/
    grid-template-rows: repeat(3, 1fr);
    }
    .services__grid-item {
        width: 100%;
    }

}

/* Адаптивная верстка Медиазапрос */
@media screen and (max-width: 768px) {
    .services__grig {
    grid-template-columns: repeat(1, 1fr);/* Повторение ячеек Три столбца Одна фракция*/
    }
}

/* Портфолио на CSS GRID */
.porfolio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 0;
}
.porfolio__grid {
    
}
.porfolio__grid-item {
    
}
.prfolio__img {
    
}

@media screen and (max-width: 1280px) {
    .porfolio {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Адаптивная верстка Медиазапрос */
@media screen and (max-width: 768px) {
    .porfolio {
        grid-template-columns: repeat(1, 1fr);
}
}

/* Создаем раздел с текстом, который можно скрыть */
.quetion {
    padding-top: 150px;
    padding-bottom: 110px;
}
.text-h2-section__h2 {
    margin-bottom: 50px;
    text-align: center;
}

.quetion .section__h2 {
    margin-bottom: 50px;

}


.question-items {
}


.text-h3-questijn-h3-close {
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 33px;

}
.text-p-quetion-p {
    margin-bottom: 40px;
    color: var(--gray-color);
    min-width: 730px;

}
.text-h3-questijn-h3-open {
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 15px;

}

/* Добавить после элемента с помощью Псевдоэлемента */

.text-h3-questijn-h3-open::before {
    content: '';
    display: inline-block; /* Стрчно-блочное размещение
    чтобы иконка и текст оставались на одном уровне */
    width: 15px;
    height: 15px;
    background-image: url(../img/arrow-icon.svg);
    background-repeat: no-repeat; /* Чтобы иконка не повторялась */
    background-position: center;
    margin-right: 15px;
    transform: rotate(90deg);/* Чтобы изменить направление 
    стрелки (Иконки) Направить вниз 
    по часовой стрелке на 90 градусов */
}

.text-h3-questijn-h3-close::before {
    content: '';
    display: inline-block; /* Стрчно-блочное размещение
    чтобы иконка и текст оставались на одном уровне */
    width: 15px;
    height: 15px;
    background-image: url(../img/arrow-icon.svg);
    background-repeat: no-repeat; /* Чтобы иконка не повторялась */
    background-position: center;
    margin-right: 5px;
}

.text-h3-questijn-h3-close + .text-p-quetion-p{
display: none; /* чтобы скрыть текст, выбраный селектором ".text-p-quetion-p" 
и который находится рядом с элементом выбраным селектором ".text-h3-questijn-h3-close" */
}

@media screen and (max-width: 1280px) {
    .quetion {
        padding: 150 15 110px;
    }
}

/* Раздел 10 "Наши партнеры" создаем с помощью Flexbox  Но можно и с помощью Grid */
.pahtners {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--dark-color);
}

.partners__h2 {
    color: var(--while-color);
    text-align: center;
    margin-bottom: 80px;
}
.partners__flex {
    display: flex; /* Ставим в один ряд с помощью Flexbox */
    justify-content: space-between; /* выравниваем расстояние между объектами с помощью Flexbox
    "space-between" делает промежутки одинакового размера */
    flex-wrap: wrap; /* чтобы объекты переносились на новую строку с помощью Flexbox */
}
.partners__item {
    margin-right: 40px;
    margin-bottom: 20px;
}

.partners__item:nth-child(5n) {
    margin-right: 0px;
    
}



@media screen and (max-width: 1280px) {
    .partners__flex {
        justify-content: center;
    }
    .partners__item:nth-child(5n) {
        margin-right: 40px;
    }
}

/* Адаптивная верстка Медиазапрос */
@media screen and (max-width: 768px) {
    .partners__item {
        margin-right: 10px;
        margin-left: 10;
    }
    
    .partners__item:nth-child(5n) {
        margin-right: 10px;
        margin-left: 10;
    }
}

/* Раздел 11 "Отзывы о работе с нами" создаем с помощью Grid, потому что у Grid 
есть свойство gap, которое устанавливает отступы */
.revlews {
    padding: 150px 0;
}
.text-h2revlews__h2 {
    text-align: center;
    margin-bottom: 60px;
}
.revlews__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.revlews__grid-item {
}
.revlews__card {
    background-color: #F7F7F7;
    padding: 30px;
    margin-bottom: 30px;
}
.revlews__quotes {
    color: #F7654A;
    width: 42px;
    height: 142px;
    left: 1193px;
    top: 5126px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 142px;
    text-transform: uppercase;
    margin-bottom: -40px;
}
.tex-p-revews {
}
.text-h4 {
}
.revlews__autor-accent {
    color: #F7654A;
}

/* Адаптив */
@media screen and (max-width: 1280px) {
    .revlews {
        padding: 100px;
    }
    .revlews__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Адаптивная верстка Медиазапрос */
@media screen and (max-width: 768px) {
    .revlews__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Раздел 12 "Контакты (создаем с помощью гридов) и Footer" */
.contacts {
    padding: 100px 0 150px;
}
.text-h2 {
}
.contacts__h2 {
    text-align: center;
    margin-bottom: 60px;
}
.contacts__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.contacts__item {
    min-width: 255px;
    text-align: center;
}
.contacts-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 15px;
}
.text-h3 {
}
.contacts__h3 {
    text-transform: uppercase;
}
.contacts__h3-grey {
    color: var(--gray-color);
    margin-bottom: 25px;
}
.contacts__h3-accent {
    color: var(--accent-color);
}
/* Адаптив */
@media screen and (max-width: 1280px) {
    .contacts__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .contacts__item {
        min-width: 100%;
    }
}

/* Адаптивная верстка Медиазапрос */
@media screen and (max-width: 768px) {
    .contacts__grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .contacts__item {
        min-width: 100%;
    }
}
.footer {
    padding: 30px 0;
    background-color: var(--dark-color);
    color: var(--while-color);
}
.footer-flex {
    display: flex;
    justify-content: space-between;
}
.text-p {
}
.footer-copyright {
}
.footer-brand {
}
@media screen and (max-width: 1280px) {
    .footer {
        padding: 30px 15px;
    }
}

/* Адаптивная верстка Медиазапрос */
@media screen and (max-width: 768px) {
    .footer-flex {
        flex-direction: column;
    }
}
